<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Melo</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/experiencias.css">
    <link rel="shortcut icon" type="image/png" href="/images/stars.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav>
            <img src="/images/header.name.png" alt="Logo com o nome 'Ana Melo'">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/view/sobremim.html">Sobre mim</a></li>
                <li><a href="/experiencia.html" class="selected">Experiências</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>EXPERIÊNCIAS</h1>
        </div>

    <!-- Adição da tag "alt" -->
        <div class="escola">
            <h2>EXPERIÊNCIA ACADÊMICA</h2> 
            <img src="/images/etec.png" alt="Logo da escola 'ETEC'">
            <h3>2021-2023</h3>
            <p>Em dezembro de 2023, me formei no ensino<br>médio integrado ao técnico em administração.</p><br>
            <p>Esses 3 anos foram uma jornada e tanto!<br>essa trajetoria não apenas me proporcionou<br>conhecimento técnico, mas também me fez<br>desenvolver habilidades emocionais e evoluir<br>como pessoa.</p>
        </div>

        <div class="trabalho">
            <span>
            <h2>EXPERIÊNCIA PROFISSIONAL</h2>
            </span>
            <img src="/images/jtexpress.png" alt="Logo da empresa J&t express">
            <span>
                <h3>2024</h3>
            </span>
            <span>
            <p>Ainda não tenho nenhuma experiência<br>profissional na área que eu amo- UX/UI<br>design- mas atualmente trabalho como<br>jovem aprendiz em uma transportadora:<br>J&T express!</p><BR>
            <P>Tem sido uma expêriencia incrível trabalhar lá!<br>e por ser meu primeiro emprego, estou muito<br>animada pra tudo que ainda está por vir.</P>
            </span>
        </div>
<footer>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/view/sobremim.html">Sobre mim</a></li>
            <li><a href="/view/experiencia.html">Experiências</a></li>
        </ul>
</footer>
    </main>
</body>
</html>


