<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Melo</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/sobremim.css">
    <link rel="shortcut icon" type="images" href="/images/stars.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<body>
    <header class='header'>
        <nav>
            <img src="/images//header.name.png" alt="logo">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/view/sobremim.html" class="selected">Sobre mim</a></li>
                    <li><a href="/view/experiencia.html">Experiências</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="main-section2"> 
                <div>
                    <img src="/images/anaclaragroup.png" alt="ana clara descrição">
                </div>

                <div class="title">
                    <h1>Essa sou eu!</h1>
                </div>

                <div class="text">
                <h2>Me chamo Ana Clara, tenho 17 anos e atualmente<br>moro em São Paulo, na zona oeste.</h2>
                    
                <h3>Sou uma pessoa extrovertida e bastante<br>agitada, amo fazer amizades novas e<br>estar em contato com pessoas.</h3>
                    
                <h4>Tenho uma gatinha de estimação<br>chamada Luna, ela é uma das coisas que<br>mais me faz feliz no mundo!</h4>
                </div>
            </section>
            
                <section class="aboutme">
                <div>
                    <img src="/images/peoples.png" alt="quadro com fotos de pessoas importantes para mim">
                </div>

                <div class="titulo">
                    <h5>Essas são as pessoas que me moldam!</h5>
                </div>

                <div class="texto">
                    <h6>É impossivel falar sobre mim sem citar essas pessoas das<br>fotos acima. Cada um deles me moldou de alguma forma<br>em algum momento da minha vida.</h6>

                    <p>Se hoje eu sou quem sou, é por conta de cada um deles.</p>

                    <span>E são eles que me salvam todos os dias.</spa>
                </div>

                <div class="hobbies">
                    <h1>HOBBIES</h1>
                </div>
            </section>

            <section class="circles"> <!-- Adição das tags "alt" -->
                <div class="circle1">
                    <img src="/images/Group5.png" alt="Lápis rabiscando um caderno">
                    <p>Adoro desenhar!<br>Desde pequena sou do<Br>mundo artistico e quase<br>sempre estou rabiscando<br>algum papel rs</p>
                </div>

                <div class="circle2">
                    <img src="/images/Group6.png" alt="Fones de ouvido">
                    <p>Em qualquer atividade<br>do meu dia-a-dia eu<br>estou escutando alguma <br>música,e, na maioria das<br> vezes, é a Taylor Swift;)</p>
                </div>

                <div class="circle3">
                    <img src="/images/Group7.png" alt="Claquete de filme">
                    <p>Ver filmes e séries<br>tambem me agrada<br>muito! estou sempre<br>maratonando alguma<br>coisa nova.</p>
                </div>
            </section>
                <footer>
                    <nav>
                        <ul>
                            <li><a href="/index.html">Home</a></li>
                            <li><a href="#" class="selected">Sobre mim</a></li>
                            <li><a href="/view/experiencia.html">Experiências</a></li>
                        </ul>
                </footer>
        </main>
</body>
</html>